*.pkl filter=lfs diff=lfs merge=lfs -text
~/CSCs/human_ts_models/projects/csc_devel/data/Achilles_gene_effect_v2.csv filter=lfs diff=lfs merge=lfs -text
projects/csc_devel/data/Achilles_gene_effect_v2.csv filter=lfs diff=lfs merge=lfs -text
